@import "variables";

* {
    color: $dark-color;
    font-family: aktiv-grotesk-condensed, sans-serif;
}

:root {
    --mobile-width: calc(512px + 128px);
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100vw;
    height: fit-content;
    min-height: 100vh;

    overflow-y: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: left;

    max-width: min-content;
    
    background-color: $brighter-color;
}

.sidebar-content {
    max-width: 256px;
    display: flex;
    flex-direction: column;

    padding: 16px;

    gap: 12px;
}

.content {
    display: flex;
    flex-direction: row;
    
    width: 1024px;
    min-height: fit-content;
    
    overflow: visible;
    
    background-color: $bright-color;
}

.text {
    padding: 0;
}

.navbar {
    position: relative;
    background-color: blue;
    display: block;
    width: 100%;
}

.sticky {
    position: fixed;
    width: inherit;
    z-index: 1;

    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}

.sticky-bar {
    position: fixed;
    background-color: red;
}

@media screen 
and (max-device-width: $mobile-width)
{
    .main {
        justify-content: flex-start;
        flex-direction: column;
        
        min-width: fit-content;
    }

    .main > * {
        width: auto;
        height: auto;
    }

    .sidebar {
        min-width: 100%;
        align-items: center;
    }

    .sidebar-content {
        min-width: 100%;
        align-items: center;
    }
}
