@use "variables" as *;

.subheader-text {
	font-size: 1.125rem;
	line-height: 1.5;
	display: block;
	color: var(--text-secondary);
	width: 100%;
}

@media screen and (max-width: $mobile-width) {
	.subheader-text {
		text-align: center;
	}
}

.header-text {
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 1.2;
	color: var(--text-main);
	margin-bottom: 0.5rem;

	@media screen and (max-width: $mobile-width) {
		font-size: 2rem;
		text-align: center;
	}
}
