$base-color: #82A6B4;
$bright-color: #DDD1B3;
$brighter-color: #E0D099;
$dark-color: #484844;
$red-color: #86453B;

// transparent versions:
$transparent: rgba(0, 0, 0, 0);
$t-amount: 50%;
$base-color-t: mix($transparent, $base-color, $t-amount);
$bright-color-t: mix($transparent, $bright-color, $t-amount);
$brighter-color-t: mix($transparent, $brighter-color, $t-amount);
$dark-color-t: mix($transparent, $dark-color, $t-amount);
$red-color-t: mix($transparent, $red-color, $t-amount);

// mobile width
$mobile-width: calc(512px + 128px);

:root {
    --base-color: #{$base-color};
    --bright-color: #{$bright-color};
    --brighter-color: #{$brighter-color};
    --dark-color: #{$dark-color};
    --red-color: #{$red-color};
}