---
interface Props {}

import Profile from "@components/Profile.astro";
import H1 from "@components/HeaderText.astro";
import H2 from "@components/SubheaderText.astro";

import "@styles/main.scss";
import "@styles/variables.scss";
import Navbar from "@components/Navbar.astro";
---

<style lang="scss">
	.sidebar {
		display: flex;
		flex-direction: column;
	}

	.profile-container {
		padding: 1rem;
	}

	hr {
		margin: 0 1rem;
	}
</style>

<div class="sidebar">
	<div class="profile-container">
		<Profile
			src="/images/me.jpg"
			alt="Gregory and his dog, Linux, at the beach"
		/>
	</div>

	<div class="sidebar-content">
		<H1>Gregory Croisdale</H1>
		<H2>He / Him / His</H2>
		<H2>Founding Engineer @ <a href="https://khaki.email" target="_blank">Khaki</a></H2>
		<H2>Prev HCI and PL @ UMich</H2>
	</div>
	<Navbar classes="desktop" />
</div>
<Navbar classes="mobile" />
