---
import ConvertPage from "../components/fun/ConvertPage";
---

<html lang="en">
  <head>
    <title>Convert</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Similarly, render the React component client-side -->
    <ConvertPage client:only="react" />
  </body>
</html>
