---
import Layout from "@layouts/DefaultLayout.astro";
import UploadPage from "../components/fun/UploadPage";
---

<Layout
	title="Utils"
	pageTitle="Gregory | JPEGXL URL Encoder"
	description="Here is a live QR Code generator and a password generator :)"
>
	<main id="main">
        <UploadPage client:only="react" />
	</main>
</Layout>
