---
import GeometrizeConvertPage from "../components/fun/GeometrizeConvertPage";
---

<html lang="en">
	<head>
		<title>Geometrize Convert</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<!-- Render the React component client-side -->
		<GeometrizeConvertPage client:only="react" />
	</body>
</html>
