---
import { getCollection } from "astro:content";
import Layout from "@layouts/DefaultLayout.astro";
import ContentCard from "@components/ContentCard.astro";
import Section from "@components/Section.astro";
import { dateToParts } from "src/utils/date";
import { DevToolsStatus } from "@components/fun/console";
import BlogSorter from "@components/BlogSorter";

const allBlogPosts = await getCollection("blog");
---

<style lang="scss">
	.section-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1.5rem;
		margin: 0.5rem 0;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			padding: 0 1rem;
			justify-items: center;
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.controls {
		margin-bottom: 1rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.tags div {
		display: flex;
		align-items: center;
	}

	.tags input {
		margin-right: 0.25rem;
	}
</style>

<Layout
	title="Home"
	description="Hello! 👋 I'm Gregory Croisdale, a PhD Candidate at the University of Michigan studying Human-Computer Interaction."
>
	<main id="main">
		<DevToolsStatus client:load />
		<Section id="about">
			<h1>About</h1>
			Hello! 👋 I'm Gregory Croisdale, a PhD Candidate at the University of Michigan
			studying Human-Computer Interaction. My research is focused around improving
			communication mechanisms between Humans and AI to support common good.
			<br /><br />
			I'm also a huge philosophy, art, music, and food nerd. I dabble in 3d
			Modeling (<a href="https://www.blender.org/">Blender</a> is my all-time
			favorite piece of software), violin, ukulele, and overambituous book-purchasing.
		</Section>

		<hr />

		<BlogSorter posts={allBlogPosts} client:load />

		<Section id="blog">
			<div class="section-grid" id="blog-grid">
			{allBlogPosts.map((post) => (
				<ContentCard
					post={post}
					id={`post-${post.slug}`}
					data-tags={post.data.tags.join(',')}
					data-date={post.data.date}
				/>
			))}
			</div>
		</Section>
	</main>
</Layout>
