---
import Layout from '@layouts/DefaultLayout.astro';

// make an array of numbers from 0 to 20
const numbers = Array.from(Array(20).keys());
---

<Layout
    title='Home'
    pageTitle='Gregory | Home'
    description='Gregory Croisdale'
>
    <main>
        <section id='about'>
            {numbers.map((number) => (
                <p>{number}</p>
            ))}
        </section>
    </main>
</Layout>