---
import { getCollection } from 'astro:content';
import Layout from '@layouts/DefaultLayout.astro';
import ContentCard from '@components/ContentCard.astro';
import Section from '@components/Section.astro';

const allBlogPosts = await getCollection('blog');
const allResearchPosts = await getCollection('research');
---

<style>

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem; /* Adjust as needed */
    margin-bottom: 20px;
}

@media screen 
and (max-device-width: 768px)
{
    /* make sure you center! */
    .section-grid {
        justify-items: center;
    }
}

</style>

<Layout
    title='Home'
    pageTitle='Gregory | Home'
    description="Hello! 👋 I'm Gregory Croisdale, a PhD Student at the University of Michigan studying Human-Computer Interaction with Anhong Guo and Xu Wang"
>
    <main id="main">
        <Section class="demo" id="demo">
            <h1><a href="https://programs.sigchi.org/uist/2023/program/content/127125">Vote for my DeckFlow demo here!</a></h1>
            Recent Generative AI models have been shown to be substantially useful in different fields, often bridging modal gaps, 
            such as text-prompted image or human motion generation. However, their accompanying interfaces do not sufficiently 
            support iteration and interaction between models, and due to the computational intensity of generative technology,
            can be unforgiving to user errors and missteps.
            We propose DeckFlow, a no-code interface for multimodal generative workflows which encourages rapid iteration and 
            experimentation between disparate models. DeckFlow emphasizes the persistence of output, the maintenance of generation
            settings and dependencies, and continual steering through user-defined concept groups. Taking design cues from Card
            Games and Affinity Diagrams, DeckFlow is aimed to lower the barrier for non-experts to explore and interact with 
            generative AI.
        </Section>

        <hr/>

        <Section class='section' id='about'>
            <h1>About</h1>
            Hello! 👋 I'm Gregory Croisdale, a PhD Student at the University of Michigan studying Human-Computer Interaction with <a target="_blank" href="https://guoanhong.com/">Anhong Guo</a> and <a target="_blank" href="https://web.eecs.umich.edu/~xwanghci/">Xu Wang</a>. My research is focused around educational technology and improving access to state-of-the-art technology.
            <br/><br/>
            I'm also a huge philosophy, art, music, and food nerd. I dabble in 3d Modeling (<a href="https://www.blender.org/">Blender</a> is my all-time favorite piece of software), violin, ukulele, and overambituous book-purchasing.
        </Section>
        
        <hr/>
        
        <Section class='section' id='blog'>
            <h1>Blog</h1>
            <div class='section-grid'>
                {allBlogPosts.map((post) => (
                    <ContentCard post={post} />
                ))}
            </div>
        </Section>

        <hr/>

        <Section class='section' id='research'>
            <h1>Research / Projects</h1>
            <div class='section-grid'>
                {allResearchPosts.map((post) => (
                    <ContentCard post={post} />
                ))}
            </div>
        </Section>
    </main>
</Layout>