---
import { getCollection } from 'astro:content';
import Layout from '@layouts/DefaultLayout.astro';

// make an array of numbers from 0 to 20
const allBlogPosts = await getCollection('blog');
---

<Layout
    title='Home'
    pageTitle='Gregory | Home'
    description='Gregory Croisdale'
>
    <main>
        <section id='about'>
            {allBlogPosts.map((post) => (
                <div>
                    <h2>{post.data.title}</h2>
                    <p>{post.data.description}</p>
                </div>
            ))}
        </section>
    </main>
</Layout>