---
interface Props {
	classes: string;
}

import NavItem from "@components/NavItem.astro";

const { classes }: Props = Astro.props;
---

<nav class={"navbar shadow " + classes}>
	<slot />
	<NavItem href="/#blog">Blog</NavItem>
	<NavItem href="/#research">Research</NavItem>
	<NavItem href="/cv.pdf" newTab={true}>CV</NavItem>
	<NavItem href="/utils">Utils</NavItem>
</nav>
