---
interface Props {
	href: string;
	newTab?: boolean;
}

const newTab = Astro.props.newTab ?? false;
const { href }: Props = Astro.props;
---

<a
	href={href}
	target={newTab ? "_blank" : undefined}
	rel={newTab ? "noopener noreferrer" : undefined}
	class="navbarItem"
>
	<slot />
</a>
