---
import { HTMLAttributes } from "react";

// accept all normal props
interface Props extends HTMLAttributes<"section"> {
	id: string;
}

// @ts-ignore
const passedProps = { id: undefined, ...Astro.props };

import "@styles/main.scss";
---

<style>
	[id]::before {
		content: "";
		display: block;
		height: 0;
		margin-top: 0;
		visibility: hidden;
	}
</style>

<section {...passedProps}>
	<a class="section-anchor" id={Astro.props.id}></a>
	<slot />
</section>
