---
import { type HTMLAttributes } from "react";

// accept all normal props
interface Props extends HTMLAttributes<"section"> {
	id: string;
}

const { id, ...passedProps } = Astro.props;

import "@styles/main.scss";
---

<style>
	section {
		scroll-margin-top: 80px; /* Offset for sticky header */
	}

	/* Remove margin from the last section if needed, or let it be */
</style>

<section id={id} {...passedProps}>
	<slot />
</section>
