---
import BaseHead from "@components/layout/BaseHead.astro";
import Sidebar from "@components/layout/Sidebar.astro";

import "@styles/noise.scss";

interface Props {
	title: string;
	description: string;
	classList?: string;
	pageTitle?: string;
	ogImage?: string;
}

const { title, description, classList, pageTitle, ogImage } = Astro.props;
---

<html lang="en">
	<BaseHead title={title} description={description} ogImage={ogImage} />
	<body class="main">
		<Sidebar />
		<div class="content">
			<slot />
		</div>
	</body>
</html>
